<%- include("partials/header") %> 

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <!-- display comments -->
                <% rides.forEach(function(ride){ %>
                    <div class="row">
                        <div class="col-md-1">
                            <strong><%= ride.author.username %> </strong>
                        </div>
                        <div class="col-md-11">
                            <p>
                                <%= ride.distance %> km
                                <span id="ride_time" class="pull-right">8.4. 2020</span>
                            </p>
                        </div>
                    </div>
                <hr>
                <% }) %>
        
                <!-- new comment form -->
                <% if(current_user) {%> 
                    <form action="/rides" method="post">
                        <div class="row">
                            <div class="col-md-1">
                                <label><%= current_user.username %> </label>
                            </div>
                            <div class="col-md-11">
                                <div class="input_and_button">
                                    <input class="form-control" id="comment_input" type="text" name="distance" placeholder="Distance">
                                    <input class="btn btn-danger" type="submit" value="Submit">
                                </div>
                            </div>
                        </div>    
                    </form>
                <% }else{ %> 
                    <h4>You need to sign up to add new rides!</h4>
                <% } %> 
            </div>
        </div>

        <div class="col-md-8">
            <div class="thumbnail">
                <img class="img-responsive" src="https://img.autoviny.sk/i/lnd/1400/23978/full_0811-katalog-ford-mondeo-kombi-2007-2.jpg" alt="Mondeo">
                <div class="caption">
                    <h2>Ford Mondeo</h2>
                </div>

            </div>
        </div>
</div>


<%- include("partials/footer") %> 
